In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('Player_List_1.csv')
df2 = pd.read_csv('Player_List_2.csv')
df3 = pd.read_csv('Player_List_3.csv')

In [3]:
df = pd.concat([df1,df2,df3],ignore_index=True,axis=0)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19654 entries, 0 to 19653
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Player           19654 non-null  object
 1   Overall Score    19654 non-null  int64
 2   Potential Score  19654 non-null  int64
 3   Market Value     19437 non-null  float64
 4   Weekly Salary    19438 non-null  float64
 5   Height           19654 non-null  int64
 6   Weight           19654 non-null  int64
 7   Age              19654 non-null  int64
 8   Preferred Foot   19654 non-null  object
 9   Ball Skills      19654 non-null  float64
 10  Defence          19654 non-null  float64
 11  Mental           19654 non-null  float64
 12  Passing          19654 non-null  float64
 13  Physical         19654 non-null  float64
 14  Shooting         19654 non-null  float64
 15  Goalkeeping      19654 non-null  float64
dtypes: float64(9), int64(5), object(2)
memory usage: 2.4+ MB

In [12]:
DF = df.drop_duplicates()

In [13]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19619 entries, 0 to 19653
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Player           19619 non-null  object
 1   Overall Score    19619 non-null  int64
 2   Potential Score  19619 non-null  int64
 3   Market Value     19402 non-null  float64
 4   Weekly Salary    19403 non-null  float64
 5   Height           19619 non-null  int64
 6   Weight           19619 non-null  int64
 7   Age              19619 non-null  int64
 8   Preferred Foot   19619 non-null  object
 9   Ball Skills      19619 non-null  float64
 10  Defence          19619 non-null  float64
 11  Mental           19619 non-null  float64
 12  Passing          19619 non-null  float64
 13  Physical         19619 non-null  float64
 14  Shooting         19619 non-null  float64
 15  Goalkeeping      19619 non-null  float64
dtypes: float64(9), int64(5), object(2)
memory usage: 2.5+ MB

In [14]:
DF1 = DF.dropna(axis=0)

In [16]:
DF1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19402 entries, 0 to 19653
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Player           19402 non-null  object
 1   Overall Score    19402 non-null  int64
 2   Potential Score  19402 non-null  int64
 3   Market Value     19402 non-null  float64
 4   Weekly Salary    19402 non-null  float64
 5   Height           19402 non-null  int64
 6   Weight           19402 non-null  int64
 7   Age              19402 non-null  int64
 8   Preferred Foot   19402 non-null  object
 9   Ball Skills      19402 non-null  float64
 10  Defence          19402 non-null  float64
 11  Mental           19402 non-null  float64
 12  Passing          19402 non-null  float64
 13  Physical         19402 non-null  float64
 14  Shooting         19402 non-null  float64
 15  Goalkeeping      19402 non-null  float64
dtypes: float64(9), int64(5), object(2)
memory usage: 2.5+ MB

In [20]:
DF1[['Overall Score','Potential Score','Height','Weight','Age']] = DF1[['Overall Score','Potential Score','Height','Weight','Age']].astype(float)

C:\Users\tanpe\Anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [21]:
DF1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19402 entries, 0 to 19653
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Player           19402 non-null  object
 1   Overall Score    19402 non-null  float64
 2   Potential Score  19402 non-null  float64
 3   Market Value     19402 non-null  float64
 4   Weekly Salary    19402 non-null  float64
 5   Height           19402 non-null  float64
 6   Weight           19402 non-null  float64
 7   Age              19402 non-null  float64
 8   Preferred Foot   19402 non-null  object
 9   Ball Skills      19402 non-null  float64
 10  Defence          19402 non-null  float64
 11  Mental           19402 non-null  float64
 12  Passing          19402 non-null  float64
 13  Physical         19402 non-null  float64
 14  Shooting         19402 non-null  float64
 15  Goalkeeping      19402 non-null  float64
dtypes: float64(14), object(2)
memory usage: 2.5+ MB

In [22]:
DF1.head()

,Player,Overall Score,Potential Score,Market Value,Weekly Salary,Height,Weight,Age,Preferred Foot,Ball Skills,Defence,Mental,Passing,Physical,Shooting,Goalkeeping
0,Lionel Messi,94.0,94.0,95500000.0,560000.0,170.0,72.0,33.0,Left,96.5,32.000000,77.833333,90.666667,82.000000,86.875,10.8
1,Cristiano Ronaldo,93.0,93.0,58500000.0,400000.0,187.0,83.0,35.0,Right,90.5,28.000000,76.666667,81.333333,85.000000,87.500,11.6
2,Neymar Jr,92.0,92.0,105500000.0,290000.0,175.0,68.0,28.0,Right,95.5,31.333333,75.000000,85.000000,79.142857,83.750,11.8
3,Virgil van Dijk,91.0,92.0,90000000.0,245000.0,193.0,92.0,29.0,Right,73.5,90.666667,77.333333,71.666667,74.857143,65.125,11.6
4,Jan Oblak,91.0,93.0,77500000.0,125000.0,188.0,87.0,27.0,Right,21.0,19.000000,47.500000,32.000000,59.428571,18.500,87.2

In [23]:
DF1.to_csv('All_Player_List.csv')

In [30]:
DF[(DF['Market Value'].isnull()) & DF['Weekly Salary'].notna()]

,Player,Overall Score,Potential Score,Market Value,Weekly Salary,Height,Weight,Age,Preferred Foot,Ball Skills,Defence,Mental,Passing,Physical,Shooting,Goalkeeping
16978,Jordan Slew,59,59,NaN,1900.0,191,81,28,Right,58.0,21.666667,47.5,43.666667,68.0,50.75,12.8